@import "../../variables.scss";

.checkmail-container {
    width: 50%;
    height: 75%;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 108, 150, 0.2);
    border-radius: 0px;
    text-align: center;
    position: relative;
    // margin-bottom: 300px;
    @include rowflex(center,center);

    @include breakpoint (mobileonly) {

        width: 90%;
        height: 450px;

    }

    .progress {
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $blue-700;

    }

    @include breakpoint (phablet) {

        width: 90%;
        height: 450px;

    }

    .checkmail-inner-col {
        width: 90%;
        height: 90%;
        @include colflex(center, space-around);

      
          
        @include breakpoint (mobileonly) {

            width: 90%;
            
    
        }
    

        p:nth-child(2) {
            height: 0;
            @include fontBold(1.4em, 1em, $blue-902);
            @include breakpoint (mobileonly) {
                @include fontBold(1.1em, 1em, $blue-902);
            }
            @include breakpoint (phablet) {
                @include fontBold(1em, 1em, $blue-902);
            }
        }

        p:nth-child(3) {
            width: 60%;
            margin-top: 0;
            @include fontLight(1.2em, 1.5em, $blue-901);

            @include breakpoint (mobileonly) {
                @include fontLight(.8em, 1.5em, $blue-901);
            }
            @include breakpoint (phablet) {
                @include fontLight(1em, 1.5em, $blue-901);
            }
        }
        span {
            p:nth-child(1) {
                @include fontNormal(1em, 1em, $blue-902);
                @include breakpoint (mobileonly) {
                    @include fontNormal(1em, 1em, $blue-902);
                }
                @include breakpoint (phablet) {
                    @include fontNormal(1em, 1em, $blue-902);
                }
            }
    
            p:nth-child(2) {
                transition: all 0.3s ease-in;
                cursor: pointer;
                &:hover {
                    @include fontNormal(1em, 1em, $blue-800);
                }
                @include fontLight(1em, 1em, $blue-700);
    
                @include breakpoint (mobileonly) {
                    @include fontLight(1em, 1em, $blue-901);
                }
                @include breakpoint (phablet) {
                    @include fontLight(1em, 1em, $blue-901);
                }
            }

        }
        button {
            width: 50%;
            height: 60px;
            background-color: $blue-700;
            color: #fff;
            border-radius: 5px;
            border: none;
            transition: all 0.3s ease-in;
    
            &:disabled {
                background-color: $gray-200 !important;
                color: $gray-800;
                cursor: not-allowed !important;
            }
            &:hover {
                background-color: $blue-900;
            }
        }
    

    }
}