@import "../../variables.scss";

.jobapplication-container{

    width: 70%;
    height: 85em;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px #EBEBEB;
    border-radius: 15px;
    position: absolute;
    margin-bottom: 100px;
    top: 5%;
    right: 15%;
    z-index:7;
    // position: relative;

    &.hidden {
        display: none;
    }
    @include breakpoint(mobileonly) {
        width: 90%;
        top: 5%;
        right: 0;
        left: 10px;
      
    }
    @include breakpoint(tablet) {
        height: 110em;
      
    }

    @include breakpoint(phablet) {
        height: 120em;
      
    }

   

    @include rowflex(center,center);

    .application-message {
        width: fit-content;
        padding: 10px;
        height: 50px;
        position: absolute;
        border-radius: 10px;
        border:  1px solid #35B86D;
        background-color: #F0FFF6;
        @include rowflex(center,center);
        right: 0px;
        top: -60px;
        color: #075227;
        transition: all 0.3s ease-in;
        box-shadow: 0px 0px 15px #F5F5F5;

        &.error {
            border:  1px solid #BB1414;
            background-color: #FFEBEB;
            color: #550000;

        }

        &.success {
            border:  1px solid #35B86D;
            background-color: #F0FFF6;
            color: #075227;

        }
    }

    .jobapplication-inner-col {
        width: 90%;
        height: 90%;
        position: relative;

        @include colflex(flex-start, space-between);

        @include breakpoint(tablet) {
            width: 90%;
            height: 95%;
        }

        .jobapplication-close {
            width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 50px;
            background-color: #fff;
            @include rowflex(center,center);
            right: -130px;
            top: -130px;
            color: $blue-700;
            transition: all 0.3s ease-in;
            box-shadow: 0px 0px 15px #F5F5F5;

            &:hover {
                color: #fff;
                background-color: $blue-700;

            }
            @include breakpoint(mobileonly) {
                right: -50px;
                top: -100px;
            }
            @include breakpoint(phablet) {
                right: -100px;
                top: -100px;
            }
        }

        .jobapplication-inner-top{
            width: 50%;
            p{
                @include fontLight(1.2em, 1em, $blue-902);

                @include breakpoint (mobileonly) {
                    @include fontLight(.8em, 1em, $blue-902);
                }

                @include breakpoint (phablet) {
                    @include fontLight(1em, 1em, $blue-902);
                }
            }

            @include breakpoint (mobileonly) {
                width: 100%;
            }

            @include breakpoint (phablet) {
                width: 100%;
            }
            @include breakpoint (tablet) {
                width: 80%;
            }

            @include breakpoint (laptop) {
                width: 80%;
            }

        }

        form {
            width: 100%;
            height: 100%;
            @include colflex(flex-start,space-between);


            @include breakpoint (tablet) {
                width: 100%;
                height: 100%;
                @include colflex(flex-start,space-between);
            }

            input[type="text"] {
                margin-bottom: 30px;

            }
            .form-cv {
                width: 100%;
                height: 150px;
                @include colflex(flex-start, space-between);

                @include breakpoint (mobileonly) {
                    height: 35%;
                    @include colflex(flex-start, space-around);
                }

                @include breakpoint (phablet) {
                    @include colflex(flex-start, space-around);
                }

                @include breakpoint (tablet) {
                    @include colflex(flex-start, space-around);
                }

                @include breakpoint (laptop) {
                    height: 150px;
                    @include colflex(flex-start, space-around);
                }
                p:nth-child(1) {
                    margin-bottom: 0;
                    @include fontBold(1.2em, 0em, $blue-902);

                    @include breakpoint (phablet) {
                        margin-bottom: 0;
                        @include fontBold(1.2em, 0em, $blue-902);
                    }

                    @include breakpoint (tablet) {
                        margin: 0;
                        @include fontBold(1.2em, 0em, $blue-902);
                    }
                }
                .cv-choose-file {
                    width: fit-content;
                    height: 10%;
                    @include rowflex(center, space-between);

                    @include breakpoint (mobileonly) {
                        width: 90%;
                        // height: 10%;
                        @include rowflex(center, space-between);
                    }

                    @include breakpoint (phablet) {
                        width: 85%;
                        
                        @include rowflex(center, space-around);
                    }

                    @include breakpoint (tablet) {
                        width: 55%;
                        height: 10%;
                        @include rowflex(center, space-between);
                    }

                    @include breakpoint (laptop) {
                        width: fit-content;
                        height: 10%;
                        @include rowflex(center, space-between);
                    }

                    button {
                        width: 150px;
                        height: 60px;
                        border-radius: 10px;
                        background-color: transparent;
                        border: 1px solid $blue-700;
                        @include fontMedium(1em, 1em, $blue-700);
                        margin-right: 20px;
                    }
                    p:nth-child(2) {
                        @include fontMedium(1.2em, 1em, $gray-500);

                        @include breakpoint (mobileonly) {
                            @include fontMedium(1em, 1em, $gray-500);
                        }
                    }

                    


                }
                .form-drag-drop {
                    width: 100%;
                    height: 130px;
                    background-color: $blue-100;
                    border: 2px dashed $blue-700;
                    border-radius: 10px;

                    @include breakpoint(tablet) {
                        width: 100%;
                        height: 130px;
                    }
                    @include rowflex(center,center);
                    .drag-drop-inner {
                        width: 90%;
                        height: 90%;
                        @include colflex(flex-start, space-around);

                        @include breakpoint(tablet) {
                            width: 90%;
                            height: 90%;
                        }

                        p:nth-child(1) {
                            @include fontMedium(1em, 1em, $gray-700)
                        }
                        p:nth-child(2) {
                            @include fontMedium(.8em, 1em, $blue-700)
                        }
                    }

                }
            }

            .form-cover-letter {
                width: 100%;
                height: 400px;
                @include colflex(flex-start,space-between);


                @include breakpoint (mobileonly) {
                    height: 50%;
                    @include colflex(flex-start, space-around);
                }

                @include breakpoint (phablet) {
                    @include colflex(flex-start, space-around);
                }

                @include breakpoint (tablet) {
                    @include colflex(flex-start, space-around);
                }

                @include breakpoint (laptop) {
                    height: 400px;
                    @include colflex(flex-start, space-around);
                }

                p:nth-child(1) {
                    margin-bottom: 0;
                    @include fontBold(1.2em, 0em, $blue-902);
                }
                p:nth-child(4) {
                    width: 70%;
                    @include fontMedium(1em, 1.5em, $gray-500);

                    @include breakpoint (mobileonly) {
                        width:100%;
                        @include fontLight(.8em, 1.5em, $gray-500);
                    }

                    @include breakpoint (phablet) {
                        width: 100%;
                        @include fontLight(.8em, 1.5em, $gray-500);
                    }

                    @include breakpoint (tablet) {
                        width: 90%;
                        @include fontLight(.8em, 1.5em, $gray-500);
                    }

                    @include breakpoint (laptop) {
                        width: 90%;
                        @include fontLight(.8em, 1.5em, $gray-500);
                    }
                }
            }
            .form-experience {
                width: 100%;
                height: fit-content;
                // padding-top: 10px;
                // padding-bottom: 10px;
                @include colflex(flex-start, space-between);

                
                @include breakpoint (mobileonly) {
                    height: 40%;
                    @include colflex(flex-start, space-around);
                }


                @include breakpoint (laptop) {
                    // height: fit-content;
                    // padding-top: 10px;
                    // padding-bottom: 10px;
                    @include colflex(flex-start, space-between);
                }
                
                p:nth-child(1) {
                    @include fontBold(1.2em, 1em, $blue-902);
                }
                .form-qualifications {
                    width: 100%;
                    @include rowflex(center,space-between);

                    @include breakpoint(mobileonly){
                        @include colflex(flex-start,space-between);
                    }


                    @include breakpoint(phablet){
                        @include colflex(flex-start,space-between);
                    }

                    @include breakpoint(tablet){
                        @include rowflex(center,space-between);
                    }
                }
                .filter-input-location {
                    margin-top: 20px;
                    z-index: 1;
                    width: 100%;
                }
                .filter-input-salary {
                    margin-top: 40px;
                    width: 100%;
                }
                .filter-input-years {
                    margin-top: 50px;
                    width: 100%;
                }
                

            }

            .form-apply-button {
                width: 100%;
                height: 15%;
                @include colflex(center, space-around);
                text-align: center;

                button {
                    width: 100%;
                    height: 60px;
                    background-color: $blue-700;
                    color: #fff;
                    border: none;
                    border-radius: 10px;
                    transition: all 0.3s ease-in;

                    &:hover {
                        background-color: transparent;
                        color: $blue-700;
                        border: 1px solid $blue-700;

                    }

                }

                p:nth-child(2) {
                    @include fontLight(.8em,1em, $blue-902);
                    span{
                        color: $blue-700;
                    }

                    @include breakpoint(mobileonly){
                        width: 100%;
                        @include fontLight(.8em,1.5em, $blue-902);
                    }
                }
            }
        }
    }
}