@import "../../../../variables.scss";

.dash-jobs-container {
    width: 100%;
    height: 100%;

    @include rowflex(flex-start,center);
    @include breakpoint(mobileonly) {
        height: fit-content;
    }
    .dash-jobs-inner {
        width: 95%;
        height: fit-content;
        position: relative;
        @include colflexx(flex-start);

        @include breakpoint(mobileonly) {
            height: 90%;
            width: 100%;
            position: relative;
            @include colflex(flex-start,space-between);
        }
        @include breakpoint(phablet) {
            height: 95%;
            @include colflex(flex-start,space-between);
        }


        .headertext{
            opacity: .5;
            @include fontBold(2.25em, 1em, $blue-902);
        }
        &.top {
            width: 100%;
            height: fit-content;
            @include rowflex(flex-start,flex-start);

            @include breakpoint(mobileonly) {
                height: 500px !important;
                width: 100%;
            }
            @include breakpoint(phablet) {
                height: fit-content;
                @include colflex(flex-start,space-between);
            }
        }

        &.bottom {
            width: 100%;
            height: fit-content;
            position: relative;
            @include colflex(flex-start, flex-start);
            @include breakpoint(mobileonly) {
                height: 80%;
                width: 100%;
                @include colflexx(flex-start);
            }
            @include breakpoint(phablet) {
                height: 80%;
                width: 100%;
                @include colflexx(flex-start);
            }
            .dash-jobs-nav-link {
                width: 35%;
                height: fit-content;
                @include rowflexx(flex-start);
                border-bottom: 3px solid $gray-300;

                @include breakpoint(mobileonly) {
                    height: 120px !important;
                    width: 80%;
                }
                @include breakpoint(phablet) {
                    height: 100px;
                    width: 80%;
                }

                .dash-jobs-single {
                    width: 45%;
                    height: 100%;
                    text-align: left;
                    cursor: pointer;
                    @include rowflexx(center);
                    opacity: .2;
                    p:nth-child(1) {
                        margin-right:20px; 
                        @include fontSemiBold(1em, 1em, $blue-902);
                    }

                    p:nth-child(2) {
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                        background-color: $blue-100;
                        @include rowflex(center, center);
                        @include fontSemiBold(1em, 1em, $blue-902);
                    }

                    &.active {
                        opacity: 1 !important;
                        @include fontSemiBold(1em, 1em, $blue-902);
                        border-bottom: 5px solid $blue-700;
                    }

                    &.notactive {
                        opacity: .2;
                        
                    }
                }
            }

            .postedjob-container{
                
                width: 100%;
                height: fit-content;
                margin-top: 50px;
                @include breakpoint(mobileonly) {
                    // top:15%;
                    height: fit-content;
                    width: 100%;
                    // position: absolute;
                    @include rowflex(flex-start,center);
                }
                @include breakpoint(phablet) {
                    // top:15%;
                    height: fit-content;
                    width: 100%;
                    // position: absolute;
                    @include rowflex(flex-start,center);
                }
    
                &.sactive {
                    width: 75%;
                    height: fit-content;
                    display: grid;
                    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
                    grid-template-rows: 180px 180px;
                    column-gap: auto;
                    row-gap: 20px;
                    justify-items: start;

                    @include breakpoint(mobileonly) {
                        width: 85%;
                        height: fit-content;
                        display: grid;
                        grid-template-columns:1fr;
                        grid-template-rows: 180px 180px 180px 180px 180px;
                        column-gap: auto;
                        row-gap: 20px;
                        justify-items: start;
                    }
                    @include breakpoint(phablet) {
                        width: 85%;
                        height: fit-content;
                        display: grid;
                        grid-template-columns:1fr;
                        grid-template-rows: 180px 180px 180px 180px 180px;
                        column-gap: auto;
                        row-gap: 20px;
                        justify-items: start;
                    }
                    
                }
    
                &.hide {
                    display: none;
                }
    
                
            }
    
            .draft-container {
                width: 100%;
                height: fit-content;
                margin-top: 50px;
                @include breakpoint(mobileonly) {
                    // top:15%;
                    height: fit-content;
                    width: 100%;
                    // position: absolute;
                    @include rowflex(center,center);
                }

                &.sactive {
                    @include rowflex(flex-start,flex-start);
                    
                }
    
                &.hide {
                    display: none;
                }
                .draft-grid {
                    width: 75%;
                    height: fit-content;
                    display: grid;
                    grid-template-columns:1fr 1fr;
                    grid-template-rows: 180px 180px;
                    column-gap: auto;
                    row-gap: 20px;
                    justify-items: start;
    
                }
            }

            
        }

        .job-paginate {
            width: fit-content;
            margin-top: 10px;

        }

        
    }
}