//  display
$displays: none, flex, inline-block, block, inline;
@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }
}

// flex direction
$directions: column, row;
@each $direction in $directions {
  .flex-#{$direction} {
    flex-direction: $direction;
  }
}

// Align Items
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}

// Justify Content
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}

// Sizing
.w-100 {
  width: 100%;
}
