// Colors

$blue-100: #f0f8ff;
$blue-200: #d0e8ff;
$blue-300: #b0d8ff;
$blue-400: #90c8ff;
$blue-500: #70b8ff;
$blue-600: #5aa2e8;
$blue-700: #4385c6;
$blue-800: #2f6aa4;
$blue-900: #1f5182;
$blue-901: #123960;
$blue-902: #0a2643;

$btn-radius: 10px;
