@import "../../../variables.scss";

.jobfilter-container {
    width: 100%;
    height: fit-content;
    // background-color: aqua;
    @include rowflex(center,center);

    .jobfilter-inner {
        width: 90%;
        @include rowflex(center, space-between);

        p {
            padding: 10px;
            background-color: $blue-200;
            @include fontSemiBold(.9em, 1em, $blue-902);
            border-radius: 10px;
        }
    }
}