@import "../../../../variables.scss";

.singlebox-container {
    width: 340px;
    height: 320px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 10px;
    @include rowflex(center,center);

    @include breakpoint(mobileonly) {
        width: 340px;
        height: 320px;
    }
    .singlebox-inner {
        width: 80%;
        height: 80%;
        @include colflex(flex-start, space-between);

        &.top {
            width: 100%;
            height: 60%;
            @include colflex(flex-start, space-around);

            img {
                width: 70px;
            }

            .content {
                height: 80%;
                @include colflexx(flex-start);
                p:nth-child(1) {
                    margin:0;
                    @include fontMedium(1.5em, 2em, $blue-902);
                }
                p:nth-child(2) {
                    margin:0;
                    height: 0;
                    @include fontLight(.8em, 1em, $blue-901);
                }
            }
        }

        &.bottom {
            width: 100%;
            height: 30%;
            p:nth-child(1) {
                margin: 0;
                @include fontBold(4em, 1em, $blue-902);
            }
            p:nth-child(2) {
                margin: 0;
                @include fontLight(.8em, 1em, $blue-901);
            }
        }
    }
}