@import "../../../../variables.scss";

.fulljob-container {
    width: 100%;
    height: 100%;
    position: relative;
    @include rowflex(center,space-around);
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: rgba(112, 184, 255, 0.15);
        backdrop-filter: blur(10px);
        transition: all 1s ease-in;
        &.active {
          // display: none;
          // display: flex;
          // visibility: hidden;
          z-index: 7;
          display: flex;
          transition: all 1s ease-in;
        }
        &.hidden {
            display: none;
            transition: all 1s ease-in;
        }
    }
    .alert-cont {
        position: absolute;
        top: 0;
    }
    .show-talent-profile {
        box-shadow: 0px 0px 15px #F5F5F5;
        position: absolute;
        top: 7%;
        right: 10%;
        z-index:9;
        width: 80%;
        height: fit-content;
        // @include rowflex(center,center);

        &.active {
            // display: none;
            // display: flex;
            // visibility: hidden;
            @include rowflex(center,center);
        }
        &.hidden {
            display: none;
        }
    }
    .fulljob-inner {
        width: 95%;
        height: 90%;
        position: relative;
        @include colflexx(flex-start);
       

        &.top {
            width: 60%;
            height: fit-content;
            margin-bottom: 20px;
            @include rowflex(flex-start, space-between);

            img {
                width: 60px;
                border-radius: 50px;
            }

            .top-jobdetails{
                height: 100%;
                width: 87%;
                @include colflexx(flex-start);
                &.top {
                    width: 50%;
                    height: fit-content;
                    margin: 0;
                    @include colflexx(flex-start);

                    p:nth-child(1) {
                        // height: 0;
                        margin: 0;
                        @include fontSemiBold(1.5em,1.2em, $blue-902);
                    }
                    p:nth-child(2) {
                        
                        margin: 0;
                        @include fontNormal(1.1em,1.4em, $blue-901);
                    }
                    p:nth-child(3) {
                        // height: 0;
                        @include fontLight(.9em,0em, $blue-901);
                    }
                }
                &.bottom {
                    margin-top: 20px;
                    width: 45%;
                    height: fit-content;
                    @include rowflex(flex-start, space-between);

                    button:nth-child(1) {
                        
                        width: 150px;
                        height: 70px;
                        text-align: center;
                        border: none;
                        background-color: $blue-700;
                        color: #fff;
                        border-radius: 10px;
                        @include fontMedium(1em, 1em, #fff);
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: transparent;
                            color: $blue-700;
                            border: 1px solid $blue-700;

                        }
                    }
                    button:nth-child(2) {
                        width: 100px;
                        height: 70px;
                        text-align: center;
                        border: 1px solid $blue-700;
                        color: $blue-700;
                        background-color: transparent;
                        border-radius: 10px;
                        @include fontMedium(1em, 1em, $blue-700);

                        &:hover {
                            background-color: $blue-700;
                            color: #fff;
                            border: 1px solid $blue-700;

                        }
                    }
                }
            }
        }
        &.bottom {
            width: 100%;
            height: fit-content;
            position: relative;
            @include rowflex(flex-start, flex-start);
            .fulljob-nav-link {
                width: 40%;
                height: fit-content;
                @include rowflexx(flex-start);
                border-bottom: 3px solid $gray-300;

                .fulljob-single:nth-child(1) {
                    width: 40%;
                    height: 100%;
                    text-align: left;
                    cursor: pointer;
                    @include rowflexx(center);
                    opacity: .2;
                    margin-right: 20px;
                    p:nth-child(1) {
                        margin-right:20px;
                        @include fontSemiBold(1.2em, 1em, $blue-902);
                    }

                    p:nth-child(2) {
                        width: 0px;
                        height: 50px;
                        
                        border-radius: 5px;
                        background-color: $blue-100;
                        @include rowflex(center, center);
                        @include fontSemiBold(1em, 1em, $blue-902);
                        visibility: none;
                    }

                    &.active {
                        width: 40%;
                        opacity: 1 !important;
                        @include fontSemiBold(1em, 1em, $blue-902);
                        border-bottom: 5px solid $blue-700;
                    }

                    &.notactive {
                        opacity: .2;
                        
                    }
                }
                .fulljob-single:nth-child(2) {
                    width: 50%;
                    height: 100%;
                    text-align: left;
                    cursor: pointer;
                    @include rowflexx(center);
                    opacity: .2;
                    p:nth-child(1) {
                        margin-right:20px; 
                        @include fontSemiBold(1em, 1em, $blue-902);
                    }

                    p:nth-child(2) {
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                        background-color: $blue-100;
                        @include rowflex(center, center);
                        @include fontSemiBold(1em, 1em, $blue-902);
                    }

                    &.active {
                        width: 50%;
                        opacity: 1 !important;
                        @include fontSemiBold(1em, 1em, $blue-902);
                        border-bottom: 5px solid $blue-700;
                    }

                    &.notactive {
                        opacity: .2;
                        
                    }
                }
            }
            .job-info-container {
                position: absolute;
                top:150%;
                background: #FFFFFF;
                box-shadow: 0px 0px 20px #EFF1F3;
                border-radius: 10px;
                width: 60%;
                height: fit-content;
                padding: 30px;
                &.sactive {
                    @include rowflex(flex-start,flex-start);
                    
                }
    
                &.hide {
                    display: none;
                }

                .job-info-inner {
                    width: 90%;
                    
                    &.single-info {
                        width: fit-content;
                        height: fit-content;
                        @include rowflex(flex-start, space-between);
                        img {
                            width: auto;
                            margin-right: 20px;
                        }
                        .single-content {
                            p:nth-child(1) {
                                margin: 0;
                                @include fontSemiBold(1.1em,1em, $blue-700);
                            }
                            p:nth-child(2) {
                                @include fontLight(1.1em,1.5em, $blue-901);
                            }
                            
                        }
                    }

                    &.single-info:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    &.single-info:nth-child(1) {
                        margin-top: 20px;
                    }
                }
            
            }
            .job-applicant-container {
                position: absolute;
                top:150%;
                // background-color: pink;
                width: 100%;
                height: fit-content;
                &.sactive {
                    // @include rowflex(flex-start,flex-start);
                    @include colflex(flex-start,space-between);
                    
                }
    
                &.hide {
                    display: none;
                }
                .job-applicant-inner {
                    width: 100%;
                    background: #FFFFFF;
                    border-radius: 10px;
                    padding: 30px;
                    &.styled-table {
                        border-collapse: collapse;
                        // margin: 25px 0;
                        // font-size: 0.9em;
                        // font-family: sans-serif;
                        min-width: 400px;
                        width: 100%;

                        thead tr{
                            @include fontNormal(1em, 1em, $blue-901);
                            text-align: left;
                            
                        }
                        th{
                            padding: 12px 15px;
                            border-bottom: 1px solid #EAEAEA;
                            @include fontMedium(1em, 1em, $blue-901);
                        }
                        td {
                            padding: 25px 15px;
                            // border-bottom: 1px solid #EAEAEA;
                            @include fontNormal(1em, 1em, $blue-901);

                            a {
                                text-decoration: underline;
                                color: $blue-800;
                                cursor: pointer;
                            }
                        }

                        .td-match {

                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr;
                            column-gap: 0px;
                            row-gap: 2px;
                            align-content: center; 
                            justify-items: flex-start;
                            justify-items: start;
                            align-items: center;
                            width: fit-content;
                            height: 100px;
                            .table-matches {
                                
                                &.match {
                                    // border: 1px solid $green-500;
                                    // background-color: $green-100;
                                    width: fit-content;
                                    height: fit-content;
                                    padding: 4px;
                                    border-radius: 3px;
                                    @include rowflex(center,center);
                                    // @include fontNormal(.8em, .8em, $green-900);
                                    // @include fontNormal(.8em, .8em, $gray-600);
                                    // background-color: $gray-100;
                                    // border: 1px solid $gray-600;
                                    @include fontNormal(.8em, 0em, $blue-700);
                                    background-color: $blue-100;
                                    border: 1px solid $blue-700;
                                    p {
                                        margin-left: 3px;
                                    }
                                }
                                &.no-match {
                                    border: 1px solid $red-500;
                                    background-color: $red-100;
                                    width: fit-content;
                                    height: fit-content;
                                    padding: 4px;
                                    @include rowflex(center,center);
                                    @include fontNormal(.8em, .6em, $red-900);
                                    border-radius: 3px;
                                    // background-color: $gray-100;
                                    // border: 1px solid $gray-600;
                                    // @include fontNormal(.8em, .8em, $gray-600);
                                    p {
                                        margin-left: 3px;
                                    }
                                }
                            }
                        }

                        tbody tr {
                            border-bottom: 1px solid #EAEAEA;

                           
                            &:hover {
                                background-color: #F9F8F9;
                                td:first-child {
                                    border-top-left-radius: 15px;
                                    border-bottom-left-radius: 15px;
                                }
                                td:last-child {
                                    border-top-right-radius: 15px;
                                    border-bottom-right-radius: 15px;
                                } 
                            }

                            td:last-child {
                                @include rowflex(center,space-around);
                                .action-box {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 5px;
                                    cursor: pointer;
                                    @include rowflex(center,center);
                                    transition: all 0.5s ease;
                                    &:hover {
                                        
                                        box-shadow: 0px 0px 20px #e0e1e2;
                                    }

                                    &.green {
                                        color: $green-700;
                                        border: 1px solid $green-700;
                                        background-color: $green-100;

                                        &.disable {
                                            pointer-events: none;
                                            opacity: .6;
                                            cursor: not-allowed;
                                        }
                                    }
                                    &.red {
                                        color: $red-600;
                                        background-color: $red-100;
                                        border: 1px solid $red-600;
                                        
                                        &.disable {
                                            pointer-events: none;
                                            opacity: .6;
                                            cursor: not-allowed;
                                        }
                                    }
                                    &.yellow {
                                        color: #D0AA38;
                                        border: 1px solid #F2C94C;
                                        background-color: #FFFAED;

                                        &.disable {
                                            pointer-events: none;
                                            opacity: .6;
                                            cursor: not-allowed;
                                        }
                                    }

                                }
                            }
                        }
                        
                        
                        tbody tr:last-child{
                            border-bottom:none;
                        }
                        
                    }
                }
            }
            
        }
    }
}