@import "../../../variables.scss";

@keyframes moovee {

    0% {

        opacity: 0;
        
    }
    25% { 
        opacity: .2;
    }
  
    50% { 
        opacity: .5;
    }

    75% { 
        opacity: .7;
    }
  
    100% {
        opacity: 1;
    }
  }


.redirect-container {
    width: 100%;
    height: 100vh;
    background-color: #FAFCFF;
    @include rowflex(center,center);

    .redirect-inner {
        width: 60%;
        height: 90%;
        @include rowflex(flex-start,center);

        @include breakpoint(mobileonly) {
            width: 80%;
            height: 90%;
        }

        @include breakpoint(phablet) {
            width: 80%;
            height: 90%;
        }

        .redirect-inner-main {
            width: 90%;
            height: 90%;
            text-align: center;
            @include colflex(center, center);

            img {
                width: 400px;
                // animation: moovee 1s linear forwards infinite;   
                @include breakpoint(mobileonly) {
                    width: 250px;
                }
            }
            span {
                @include rowflex(flex-start,space-between);
                p:nth-child(1) {
                    height:0;
                    // animation: moovee 1.5s linear forwards infinite;
                    @include fontSemiBold(2.5em, 1em, $blue-902);
                    @include breakpoint(mobileonly) {
                        @include fontSemiBold(2em, 1em, $blue-902);
                    }
                }
    
                p:nth-child(2) {
                    height:0;
                    animation: moovee 1.5s linear forwards infinite;
                    @include fontSemiBold(2.5em, 1em, $blue-902);
                    @include breakpoint(mobileonly) {
                        @include fontSemiBold(2em, 1em, $blue-902);
                    }
                }

            }
            

            .redirect-btn {
                width: 50%;
                height: 65px;
                font-size: 1em;
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                border: none;
                color: #fff;
                background-color: $blue-700;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.3s ease-in;
                text-decoration: none;
                @include rowflex(center, center);

                @include breakpoint(mobileonly) {
                    width: 100%;
                    height: 50px;
                }

                &:hover {
                    background-color: $blue-900;
                }
            }
        }
    }
}