@import "../../../variables.scss";

.singlefeed-container {
    width: 800px;
    height: 350px;
    @include rowflex(center, center);
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    background-image: url("../../hirerassets/waves.svg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

    @include breakpoint(mobileonly) {
        width: 350px;
        height: 300px;
    }
    @include breakpoint(phablet) {
        width: 700px;
        height: 300px;
    }

    @include breakpoint(tablet) {
        width: 700px;
        height: 300px;
    }
    .singlefeed-inner {
        width: 80%;
        height: 80%;
        @include rowflex(flex-start, space-between);
        position: relative;
        text-align: left;
        padding:0px;

        @include breakpoint(mobileonly) {
            height: 90%;
            width: 90%;
        }

        &.left {
            width: 20%;
            img {
                width: 100px;
                height: 100px;

                @include breakpoint(mobileonly) {
                    width: 50px;
                    height: 50px;
                }
            }
            margin-top: 15px;
        }

        &.right {
            
            width: 75%;
            height: 90%;
            
            @include colflex(flex-start, space-between);
            
            p:nth-child(1) {
                @include fontNormal(1em, 1.5em, $blue-901);
                @include breakpoint(mobileonly) {
                    @include fontNormal(.8em, 1.2em, $blue-901);
                }
                
            }

            .bottom {
                @include colflex(flex-start, flex-start);
                height: 100px;
                p:nth-child(1) {
                    @include fontMedium(1em, 1.4em, $blue-901);
                    height: 0px;
                    @include breakpoint(mobileonly) {
                        @include fontMedium(.8em, 1.2em, $blue-901);
                    }
                    
                }
                p:nth-child(2) {
                    @include fontLight(1em, 0em, $blue-901);
                    
                    height: 0px;
                    @include breakpoint(mobileonly) {
                        @include fontLight(.8em, 1.2em, $blue-901);
                    }
                    
                }
                img {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    // @include breakpoint(mobileonly) {
                    //     width: 50px;
                    // }
                }

            }
        }

        
    }
}