@import "../../../../variables.scss";

.hirer-dash-container {
    width: 100%;
    height: 100px;
    @include rowflex(center, center);
    z-index: 10;
    .hirer-dash-inner {
        width: 95%;
        height: 95%;
        @include rowflex(center, space-between);

        @include breakpoint(mobileonly) {
            width: 90%;
            @include rowflex(center, space-between);
        }
        @include breakpoint(phablet) {
            width: 95%;
            @include rowflex(center, space-between);
        }

        @include breakpoint(tablet) {
            width: 90%;
            @include rowflex(center, space-between);
        }

        @include breakpoint(laptop) {
            width: 95%;
            @include rowflex(center, space-between);
           
        }

        &.left {
            width:fit-content;
            height: 100%;
            @include rowflex(center, space-between);
            @include breakpoint(tablet) {
                width: 30%;
            }
            img {
                width: auto;
            }
            .navbar-inner-nav-link {
                // max-height: 100%;
                height: 95%;
                // position: relative;
                margin-left: 50px;
                @include fontNormal(1em, 1em, $blue-902);
                @include rowflex(center, space-around);
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                &.active {
                    color: $blue-700;
                    // border-bottom: 5px solid $blue-700;
                }

                // &:hover {
                //     color: $blue-700;
                   
                //     border-bottom: .2em solid $blue-700;
                // }
                .nav-link-icon {
                    margin-left:10px;
                }
                @include breakpoint(mobileonly) {
                    display: none;
                }

                @include breakpoint(phablet) {
                    display: none;
                }
                @include breakpoint(tablet) {
                    display: none;
                    width: 90%;
                }
            }

            @include breakpoint(mobileonly) {
                width: 30%;
                @include rowflex(center, flex-start);
            }
            @include breakpoint(phablet) {
                width: 30%;
                @include rowflex(center, space-between);
                @include fontNormal(.8em, 1em, $blue-902);
            }
            @include breakpoint(tablet) {
                width: 35%;
                @include rowflex(center, space-between);
                @include fontNormal(.8em, 1em, $blue-902);
            }

            @include breakpoint(laptop) {
                width: 20%;
                @include rowflex(center, space-between);
                @include fontNormal(1em, 1em, $blue-902);
            }
            
        }

        

        &.right {
            width: fit-content;
            @include rowflex(center, space-around);
            .navbar-inner-nav-link {
                max-height: 100%;
                height: 99%;
                position: relative;
                @include fontNormal(1em, 1em, $blue-902);
                @include rowflex(center, center);
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                
                padding-bottom: 3px;
                &.active {
                    color: $blue-700;
                    // border-bottom: 3px solid $blue-700;
                }

                &:hover {
                    color: $blue-700;
                    padding: 0px;
                    // border-bottom: 3px solid $blue-700;
                }
                .nav-link-icon {
                    margin-left:10px;
                }

                @include breakpoint(mobileonly) {
                    display: none;
                }

                @include breakpoint(phablet) {
                    display: none;
                }
                @include breakpoint(tablet) {
                    display: none;
                }
                
                
            }

            .navbar-inner-nav-link:not(:first-child) {
                margin-left: 50px;
            }
            .navbar-inner-nav-link:nth-child(3) {
                @include fontBold(1em, 1em, $blue-700);
                text-decoration: none;
            }
            

            .notification {
                width: 50px;

                @include breakpoint(mobileonly) {
                    display: none;
                }
                @include breakpoint(phablet) {
                    width: 35px;
                    display: none;
                }
    
                @include breakpoint(tablet) {
                    width: 50px;
                    display: none;
                }
    
                @include breakpoint(laptop) {
                    width: 50px;
                }
            }

            .dashboard-profile {
                width: 50%;
                @include rowflex (center, space-between);

                @include breakpoint(mobileonly) {
                    display: none;
                }
                @include breakpoint(phablet) {
                    width: 60%;
                    display: none;
                }
    
                @include breakpoint(tablet) {
                    width: 45%;
                    display: none;
                }
    
                
                img {
                    width: 50px;
                    border-radius: 100px;
                    @include breakpoint(mobileonly) {
                        width: 30px;
                    }
                    @include breakpoint(phablet) {
                        width: 35px;
                    }
        
                    @include breakpoint(tablet) {
                        width: 50px;
                    }
        
                    @include breakpoint(laptop) {
                        width: 50px;
                    }
                }

                .dashboard-user {
                    p:nth-child(1) {
                        @include fontLight(1em, 1em, $blue-902);
                    }
                    p:nth-child(2) {
                        @include fontMedium(1em, 0em, $blue-902);
                    }
                }
            }

            .hamburger-icon {
                display: none;
                font-size: 2em;
                @include breakpoint(mobileonly) {
                    display: flex;
                    @include rowflex(center, center);
                }
                @include breakpoint(phablet) {
                    display: flex;
                }

                @include breakpoint(tablet) {
                    @include rowflex(flex-end, flex-end);
                    
                }
            }

            @include breakpoint(mobileonly) {
                width: 10% !important;
                // @include rowflex(flex-end, flex-end);
            }
            @include breakpoint(phablet) {
                width: 45%;
                @include rowflex(center, flex-end);
                
                @include fontNormal(.8em, 1em, $blue-902);
            }

            @include breakpoint(tablet) {
                width: 45%;
                @include rowflex(center, space-between);
                @include fontNormal(.8em, 1em, $blue-902);
            }

            @include breakpoint(laptop) {
                width: 30%;
                @include rowflex(center, space-between);
                @include fontNormal(1em, 1em, $blue-902);
            }

        }
    }

}