@import "../../../variables.scss";

.create-job-alert-container{
    width: 100%;
    height: 300px;
    background-color: $blue-100;
    @include rowflex(center,center);
    border-radius: 10px;
    @include breakpoint(mobileonly) {
        display: none;
    }
    @include breakpoint(tablet) {
        width:100%;
        
    }

    .create-job-alert-inner {

        width: 90%;
        height: 90%;
        @include colflex(flex-start, space-around);
        // background-color: red;
        text-align: left;

        @include breakpoint(tablet) {
            width: 90%;
            height: 95%;
        }

        .job-alert-inner-content {
            @include colflexx(flex-start);
            height: 35%;
            p:nth-child(1) {
                @include fontMedium(1.3em, 0em, $blue-900);
                // margin: 0;
            }
            p:nth-child(2) {
                width: 80%;
                @include fontLight(1em, 1.5em, $blue-900);
                margin: 0;
                margin-bottom: 10px;
                
            }
        }

        
        
        .create-job-alert-btn {
            width: 150px;
            height: 50px;
            font-size: 1em;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            border: none;
            color: #fff;
            background-color: $blue-700;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in;
            text-decoration: none;
            @include rowflex(center, center);

            @include breakpoint(mobileonly) {
                width: 300px;
                height: 50px;
            }
            @include breakpoint(tablet) {
                width: 90%;
                height: 50px;
            }

            &:hover {
                background-color: $blue-900;
            }
            &:disabled {
                // border: 1px solid #999999;
                background-color: #cccccc;
                color: #666666;
                cursor: not-allowed;
            }
        }

    }
}