@import "../../../variables.scss";

.jobdescription-container{
    width: 100%;
    height: fit-content;
    padding-top:50px ;
    padding-bottom: 50px;
    background-color: #ffff;
    // background-color: red;
    @include rowflex(center,center);
    position: relative;

    @include breakpoint(mobileonly) {
        width: 100%;
        height: 120em;
        // margin-top: 100px;
        margin-bottom: 100px;
        
        @include rowflex(center,flex-start);
    }

    @include breakpoint(phablet) {
        width: 100%;
        height:fit-content;
        margin-bottom: 100px;
        @include rowflex(center,center);
    }

    @include breakpoint(tablet) {
        width: 100%;
        height:auto;
        // margin-top: 100px;
        margin-bottom: 50px;
        @include rowflex(center,center);
    }

    @include  breakpoint (laptop) {
        margin-bottom: 100px;
    }
    .jobdescription-load{
        width: 50%;
        height: 400px;
        @include rowflex(center,center);
    }
    .jobdescription-inner-col {
        width: 95%;
        height: 90%;
        display: grid;
        grid-template-columns: 70% 25%;
        grid-template-rows: 100%;
        column-gap: 5%;
        align-items: flex-end;
        justify-content: space-between;
        
        
        @include breakpoint(mobileonly) {
            width: 90%;
            height: 95%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 75% ;
            row-gap: 5%;
            grid-auto-flow: dense;
            align-items: center;
            justify-content: center;
        }

        @include breakpoint(phablet) {
            width: 95%;
            height: 95%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 75% ;
            row-gap: 5%;
            grid-auto-flow: dense;
            // margin-bottom: 300px;
            align-items: flex-end;
            justify-content: space-between;
        }

        @include breakpoint(tablet) {
            width: 95%;
            height: 90%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 75% ;
            row-gap: 5%;
            grid-auto-flow: dense;
            margin-bottom: 300px;
            align-items: flex-end;
            justify-content: space-between;
        }
        @include breakpoint(laptop) {
            width: 95%;
            height: 90%;
            display: grid;
            grid-template-columns: 70% 25%;
            grid-template-rows: 100%;
            column-gap: 5%;
            align-items: flex-end;
            justify-content: space-between;
        }

        .jobdescription-left {
            width: 100%;
            height: fit-content;
            @include colflex(flex-start, space-between);

            @include breakpoint(mobileonly) {
                width: 100%;
                height: 100%;
                align-items: center;
            }
        
            @include breakpoint(phablet) {
                width: 100%;
                height: 100%;
            }
            @include breakpoint(tablet) {
                width: 100%;
                height: 100%;
            }

            .jobdescription-left-top {
                @include rowflex(flex-start, space-between);
                width: 30%;
                height: fit-content;
                margin-bottom: 10px;
                img {
                    width: 100px;
                }
                @include breakpoint (mobileonly) {
                    @include colflex(flex-start, space-between);
                    width: 90%;
                    height: 300px !important;
                }
                @include breakpoint (phablet) {
                    width: 80%;
                    height: 10%;
                }
                @include breakpoint (laptop) {
                    width: 80%;
                    // height: 10%;
                }

    
                @include breakpoint (tablet) {
                    width: 80%;
                    height: 10%;
                }
                .jobdescription-top-right {
                    
                    @include breakpoint(mobileonly) {
                        width: 80%;
                        height: 50%;
                    }
                    @include breakpoint(phablet) {
                        width: 80%;
                    }

                    @include breakpoint(tablet) {
                        width: 80%;
                    }
                    @include breakpoint(laptop) {
                        width: 80%;
                    }
                    p:nth-child(1) {
                        margin:0;
                        @include fontBold(2em,1em, $blue-902);

                        @include breakpoint(mobileonly) {
                            @include fontBold(1.3em,1em, $blue-902);
                        }
                        @include breakpoint(phablet) {
                            @include fontBold(1.5em,1em, $blue-902);
                        }
                    }
                    p:nth-child(2) {
                        @include fontMedium(1.4em,0em, $blue-902);

                        @include breakpoint(mobileonly) {
                            @include fontMedium(1.1em,0em, $blue-902);
                        }
                        @include breakpoint(phablet) {
                            @include fontMedium(1.2em,0em, $blue-902);
                        }
                    }
                    p:nth-child(3) {
                        @include fontLight(1.2em,1em, $blue-902);
                        
                        @include breakpoint(mobileonly) {
                            @include fontLight(1em,1em, $blue-902);
                        }
                        @include breakpoint(phablet) {
                            @include fontLight(1.1em,1em, $blue-902);
                        }
                    }

                    button {
                        width: 150px;
                        height: 60px;
                        background-color: $blue-700;
                        border: none;
                        border-radius: 5px;
                        @include fontMedium(1em, 1em, #fff);
                        transition: all 0.5s ease;

                        &:hover {
                            background-color: transparent;
                            color: $blue-700;
                            border: 1px solid $blue-700;

                        }
                    }
                }
            }

            .Jobdescription-left-overview{
                width: 85%;
                height: fit-content;
                padding-top: 20px;
                padding-bottom: 20px;
                background: #FFFFFF;
                border: 1px solid $gray-300;
                box-sizing: border-box;
                border-radius: 10px;
                @include rowflex(center,center);
                margin-top: 30px;

                @include breakpoint (mobileonly) {
                  
                    width: 90%;
                    height: 150px;
                    margin-top: 15px;
                    @include rowflex(center,center);
                }
                @include breakpoint (phablet) {
                    width: 100%;
                    height: 200px;
                    margin-top: 30px;
                }

                @include breakpoint (tablet) {
                    width: 100%;
                    height: 300px;
                    margin-top: 40px;
                }
                @include breakpoint (laptop) {
                    width: 100%;
                    margin-top: 40px;
                }

                .Jobdescription-overview-inner {
                    width: 90%;
                    height: 100%;
                    @include breakpoint (mobileonly) {
                  
                        width: 90%;
                        height: 90%;
                        @include rowflex(center,space-between);
                    }
                    @include breakpoint (phablet) {
                        width: 90%;
                        height: 90%;
                        @include rowflex(center,space-between);
                    }

                    @include breakpoint (tablet) {
                        width: 90%;
                        height: 90%;
                        @include rowflex(center,space-between);
                    }

                    @include rowflex(center,space-between);

                    hr {
                        height: 100%;
                        border: .5px solid $gray-100;
                    }
                    .job-overview {
                        height: 85%;

                        @include colflex(flex-start, space-between);

                        @include breakpoint (mobileonly) {
                            height: 80%;
                            @include colflex(flex-start, space-between);
                        }
                        @include breakpoint (phablet) {
                            height: 80%;
                            @include colflex(flex-start, flex-start);
                        }

                        p:nth-child(1) {
                            @include fontMedium(1.2em, 1em, $gray-500);

                            @include breakpoint (mobileonly) {
                                width: 45%;
                                @include fontMedium(.8em, 1em, $gray-500);
                            }
                            @include breakpoint (phablet) {

                                @include fontMedium(1em, 1em, $gray-500);
                            }
                        }
                        p:nth-child(2) {
                            @include fontMedium(1.2em, 1em, $blue-902);

                            @include breakpoint (mobileonly) {
                                width: 70%;
                                @include fontMedium(.7em, 1.2em, $blue-902);
                            }
                            @include breakpoint (phablet) {
                                width: 55%;
                                @include fontMedium(1em, 1.2em, $blue-902);
                            }
                        }
                    }
                }
            }

            .jobdescription-left-details {
                width: 85%;
                height: fit-content;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-top: 30px;
                @include colflex(flex-start,space-between);

                @include breakpoint (mobileonly) {
                    width: 90%;
                    height: 60%;
                }
                @include breakpoint (phablet) {
                    width: 100%;
                    height: 60%;
                }

                .details-overview, .details-functions, .details-requirements {
                    height: 40%;
                    p:nth-child(1) {
                        @include fontSemiBold(1.4em, 1em, $blue-902);

                        @include breakpoint (mobileonly) {
                            @include fontSemiBold(1em, 1.5em, $blue-902);
                        }
                        @include breakpoint (phablet) {
                            @include fontSemiBold(1.2em, 1em, $blue-902);
                        }
                    }
                    p:nth-child(2) {
                        @include fontLight(1.1em, 2em, $blue-901);

                        @include breakpoint (mobileonly) {
                            @include fontLight(.8em, 1.5em, $blue-901);
                        }
                        @include breakpoint (phablet) {
                            @include fontLight(1em, 1.5em, $blue-901);
                        }
                    }
                    ul {
                        list-style-type: lower-alpha;
                        // padding: 0;
                        @include fontLight(1.1em, 1.5em, $blue-901);
                        @include breakpoint (mobileonly) {
                            @include fontLight(.8em, 1.5em, $blue-901);
                        }
                    }
                }
            }

            .jobdescription-left-bottom {

                @include breakpoint (mobileonly) {
                    width: 90%;
                    margin-top: 100px;
                }
                @include breakpoint (phablet) {
                    width: 100%;
                    height: 10%;
                    margin-top: 150px;
                }

                p{
                    @include fontMedium(1em, 1em, $gray-500);
                }
                .report-job {
                    width: 200px;
                    height: 70px;
                    background: $blue-100;
                    border-radius: 10px;
                    border: none;
                    @include rowflex(center, space-around);
                    @include fontMedium(1em, 1em, $blue-901);
                    transition:  all 0.3s ease-in;

                    &:hover {
                        background: $blue-700;
                        color: #fff;
    
                    }
    
                }

            }

            
        }
        .jobdescription-right {
            width: 100%;
            height: 100%;

            @include breakpoint (mobileonly) {
                grid-column-start: 1;
                grid-row-start: 1;
                width: 100%;
                height: 300px;
            }
            @include breakpoint (phablet) {
                grid-column-start: 1;
                grid-row-start: 1;
                width: 100%;
                height: 300px;
            }

            @include breakpoint (tablet) {
                grid-column-start: 1;
                grid-row-start: 1;
                width: 100%;
                height: 300px;
            }

            @include breakpoint (laptop) {
                
                width: 100%;
                height: 100%;
            }
        }
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: rgba(112, 184, 255, 0.15);
        backdrop-filter: blur(10px);
        transition: all 1s ease-in;
        &.active {
          // display: none;
          // display: flex;
          // visibility: hidden;
          z-index: 7;
          display: flex;
          transition: all 1s ease-in;
        }
        &.hidden {
            display: none;
            transition: all 1s ease-in;
        }
      }
}

.jobdescription-error {
    width: 100%;
    height: 40em;

    .jobdescription-error-col {
        width: 100%;
        height: 100%;
        @include rowflex(center, center);
    }
}