@import "../../../variables.scss";

.feedback-container {
    width: 100%;
    height: 100vh !important;
    @include rowflex(center,center);
    background-color: $blue-100;
    @include breakpoint(mobileonly) {
        height: 50em;
    }
    @include breakpoint(tablet) {
        height: 50em;
    }
    @include breakpoint(laptop) {
        height: 50em;
    }

    .feedback-inner {
        width: 80%;
        height: 85%;

        @include breakpoint(tablet) {
            height: 75%;
        }
        @include colflex(center, space-around);

        .feedback-top {
            width: 30%;
            text-align: center;
            @include breakpoint(mobileonly) {
                width: 80%;
            }
            @include breakpoint(tablet) {
                width: 50%;
            }
            @include breakpoint(phablet) {
                width: 75% !important;
            }
            @include breakpoint(laptop) {
                width: 50% !important;
            }

            p:nth-child(1) {
                @include fontBold(2em, 1.4em, $blue-902);
                @include breakpoint(mobileonly) {
                    @include fontBold(1.5em, 1.4em, $blue-902);
                }
                @include breakpoint(phablet) {
                    @include fontBold(2em, 1.4em, $blue-902);
                }
                height: 20px;

            }
            p:nth-child(2) {
                @include fontNormal(1em, 1.4em, $blue-901);
                @include breakpoint(mobileonly) {
                    @include fontNormal(.8em, 1.4em, $blue-902);
                }

            }
        }

        .feedback-carousel {
            @include rowflex(center,center);
            height: 600px;
            width: 100%;
            .arrow-left, .arrow-right {
                width: 60px;
                height: 60px;
                
                border-radius: 50px 50px 50px 0px;
                transition: all 0.3s ease;
                color: $blue-200;
                @include rowflex(center,center);

                &:hover {
                    color: $blue-700;
                    background-color: #fff;
                    box-shadow: 0px 0px 15px #F5F5F5;
                    
                }

            }
            .t-carousel {
                @include rowflex(center,center);
                height: 500px;
                // background-color: rebeccapurple;
                position: relative;
                width: 100%;

                ul {
                    position: absolute;
                    overflow: hidden;
                    width: 850px;
                    height: 350px;
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    // justify-content: space-between;

                    li {
                        
                        &:nth-child(1) {
                           
                            opacity: 0;
                            margin-right: 10px;
                            margin-left: 0px;
                        }
                        &:nth-child(2) {
                            margin-left: 20px;
                       
                        }
                        &:nth-child(3) {
                          
                            margin-left: 20px;
                           
                        }
                    }
                }
            }
        }
    }
}