@import "../../variables.scss";

.create-account-container {
    width: 650px !important;
    height: 70em;
    
    box-shadow: 0px 0px 15px #F5F5F5;
    position: absolute;
    top: 7%;
    right: 30%;
    z-index:7;
    // @include rowflex(center,center);

    &.active {
        // display: none;
        // display: flex;
        // visibility: hidden;
        display: flex;
    }
    &.hidden {
        display: none;
    }

    @include breakpoint(mobileonly) {
        width: 95% !important;
        height: 70em !important;
        top: 2%;
        right: 10px;
    }
   
    @include breakpoint(phablet) {
        @include colflex(center, space-between);
        width: 100%;
    }

    .create-account-inner {

        width:100%;
        height: 100%;
        @include colflex(center, space-between);
        position: relative;

        .create-account-close {
            width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 50px;
            background-color: #fff;
            @include rowflex(center,center);
            right: -70px;
            top: -70px;
            color: $blue-700;
            transition: all 0.3s ease-in;
            box-shadow: 0px 0px 15px #F5F5F5;

            &:hover {
                color: #fff;
                background-color: $blue-700;

            }

            @include breakpoint(mobileonly) {
                right: 20px;
                top: -70px;
            }
        }

        .create-account-success {
            width: 100%;
            height: 100px;
            position: absolute;
            border-radius: 10px;
            
            @include rowflex(center,center);
            right: 0px;
            top: -200px;
            
            transition: all 0.3s ease-in;
            box-shadow: 0px 0px 15px #F5F5F5;

            &.error {
                border:  1px solid #BB1414;
                background-color: #FFEBEB;
                color: #550000;

            }

            &.success {
                border:  1px solid #35B86D;
                background-color: #F0FFF6;
                color: #075227;

            }

        }

        .create-account-inner-col {
            width:100%;
            height: 85%;
            background-color:#fff;
            @include colflex(flex-start, space-between);
            // background-color: blue;
            .create-account-link-col {
                width: 100%;
                height: 10%;
                @include rowflex(center, space-between);
    
                .create-account-link {
                    height: 95%;
                    width: 50%;
                    // position: relative;
                    @include fontNormal(1em, 1em, $blue-901);
                    @include rowflex(center, space-around);
                    cursor: pointer;
                    transition: all 0.1s ease-in-out;
                    &.active {
                        color: #fff;
                        background-color: $blue-700;
                    }
                    border-top: .2em solid $blue-700;
    
                    &:hover {
                        color: #fff;
                        background-color: $blue-700;
                        border-top: .2em solid $blue-700;
                    }
                }
            }
    
            .create-account-user {
                width: 100%;
                height: 95%;
                overflow: visible;
                position: relative;
                @include rowflex(center,center);
            }
        }

        .create-account-notes {
            width: 100%;
            height: 12%;
            background-color: #fff;
            text-align: left;
            @include rowflex(center,center);
            
            p {
                width: 80%;
                @include fontNormal(.8em, 1.4em, $blue-901);
                
            }

        }



    }

   
}