@import "../../../variables.scss";


.singlecompany-container {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border: 1px solid $gray-300;
    border-radius: 10px;
    cursor: pointer;

    @include rowflex(center, center);
    .singlecompany-inner-col {
        width: 90%;
        height: 80%;
        @include colflex(center, space-between);
        .single-inner-top {
            width: 90%;
            height: 100%;
            @include rowflex(flex-start, space-between);
            position: relative;
            .singlecompany-profile {
                @include rowflex(flex-start, space-between);
                width: fit-content;
                text-align: left;
                
                height: 70%;
                img {
                    width: 50px;
                }
                .singlecompany-details {
                    margin-left: 20px;
                    @include colflex(flex-start, space-between);
                    p{
                        margin: 0;
                    }
                    p:nth-child(1) {
                        @include fontSemiBold(1.2em, 1.4em, $blue-902);
                        margin: 0;
                        @include breakpoint(mobileonly) {
                            @include fontSemiBold(1em, 1.4em, $blue-902);
                        }
                        @include breakpoint(phablet) {
                            @include fontNormal(1em, 1.4em, $blue-902);
                        }
                        @include breakpoint(tablet) {
                            @include fontSemiBold(1.4em, 1.4em, $blue-902);
                        }
                    }
                    p:nth-child(2) {
                        @include fontNormal(1.1em, 1.4em, $blue-902);
                        margin: 0;
                        @include breakpoint(mobileonly) {
                            @include fontNormal(.9em, 1.4em, $blue-902);
                        }
                        @include breakpoint(phablet) {
                            @include fontNormal(.9em, 1.4em, $blue-902);
                        }
                        @include breakpoint(tablet) {
                            @include fontNormal(1.2em, 1.4em, $blue-902);
                        }
                       
                    }
                    p:nth-child(3) {
                        @include fontLight(1.2em, 1.4em, $blue-902);
                        margin: 0;
                        strong {
                            font-weight: 600;
                        }

                        @include breakpoint(mobileonly) {
                            @include fontLight(1em, 1.4em, $blue-902);
                        }
                        @include breakpoint(phablet) {
                            @include fontLight(1em, 1.4em, $blue-902);
                        }

                        @include breakpoint(tablet) {
                            @include fontLight(1.1em, 1.4em, $blue-902);
                        }
                    }

                }
                

            }
            


        }

        .single-inner-bottom {
            width: 90%;
            @include rowflex(center, space-between);
            .bottom-left{
                width: 20%;
                p{
                    @include fontNormal(1em, 1em, $blue-901);
                    @include rowflex(center, space-around);

                    @include breakpoint(phablet) {
                        @include fontNormal(.7em, 1em, $blue-901);
                    }
                }

            }
            .bottom-right{
                width: 35%;

                @include breakpoint(phablet) {
                    width: 45%;
                }
                p{
                    @include fontNormal(1em, 1em, $blue-901);
                    @include rowflex(center, space-around);

                    @include breakpoint(phablet) {
                        @include fontNormal(.7em, 1em, $blue-901);
                    }
                }

            }

        }

    }
}