@import "../../../variables.scss";

.job-results-container{
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: #FAFCFF;
    @include rowflex(center,center);

    @include breakpoint(mobileonly) {
        width: 100%;
        height: 100em;
        margin-top: 100px;
        margin-bottom: 300px;
        @include rowflex(center,flex-start);
    }

    @include breakpoint(phablet) {
        width: 100%;
        height:auto;
        margin-top: 100px;
        margin-bottom: 100px;
        @include rowflex(center,center);
    }

    @include breakpoint(tablet) {
        width: 100%;
        height:auto;
        margin-top: 100px;
        margin-bottom: 100px;
        @include rowflex(center,center);
    }
    .job-results-message {
        width: fit-content;
        padding:10px;
        height: fit-content;
        position: absolute;
        border-radius: 10px;
        border:  1px solid #35B86D;
        background-color: #F0FFF6;
        @include rowflex(center,center);
        right: 50%;
        top: 20px;
        color: #075227;
        transition: all 0.3s ease-in;
        box-shadow: 0px 0px 15px #F5F5F5;

        &.error {
            border:  1px solid #BB1414;
            background-color: #FFEBEB;
            color: #550000;

        }

        &.success {
            border:  1px solid #35B86D;
            background-color: #F0FFF6;
            color: #075227;

        }
    }


    .job-results-inner {
        width: 100%;
        height: 100%;
        @include rowflex(center,center);
       
        
        @include breakpoint(mobileonly) {
            width: 100%;
            height: 100%;
           
        }

        @include breakpoint(phablet) {
            width: 95%;
            height: 90%;
            
        }

        @include breakpoint(tablet) {
            width: 95%;
            height: 90%;
            
        }
    }
}