@import "../../../variables.scss";

.empty-state-container {
    width: 500px;
    height: 500px;
    
    
    .empty-state-inner{
        width: 90%;
        // height: 50%;
        @include colflex(center,space-around);
        text-align: center;

        img{
            width: auto;
        }

        .empty-state-headline {
            @include fontSemiBold(2em, 1em, $blue-901);
        }

        .empty-state-subtitle {
            width: 70%;
            @include fontNormal(1.2em, 1.5em, $blue-901);
        }

    }

}